<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.retrofit2study">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Manage"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Retrofit2Study"
        android:usesCleartextTraffic="true">
        <activity android:name=".api.molds.article.ArticleActivity"></activity>
        <activity android:name=".api.molds.Singup.SignUpActivity" />
        <activity android:name=".sub.signin.SigninActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>